---
title: Book Us
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style type="text/css">
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	{% seo %}
</head>
<body background="BellsLoop.png" class="background-secondary">
	<div id="top" class="row site">
	{% include menu.html %}
	<div class="paper container">
		<h1>Book Us</h1>
		{% include img874.html baseName="elyCathedral" alt="Granta Blue dancing outside Ely Cathedral" class="" %}
		<p>Whether it is dancing with the plough in the depths of winter, a summer fair, an evening at pub, or any other occassion, we love getting out to dance for people and hopefully make them smile.</p>
		<p>If you would be interested in having us come and dance at your event please don't hessitate to drop us a message, <a href="mailto:cumorris@googlemail.com">email us</a> or drop us a message on <a href="https://www.facebook.com/GrantaBlueMorris/">Facebook</a></p>
		{% include img874.html baseName="comeRain" alt="Come rain or shine we are always dancing" class="" %}
	</div>
</div>
</body>
</html>