---
title: Join Us
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style type="text/css">
    {% capture include_to_scssify %}
      {% include main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	{% seo %}
</head>
<body class="background-secondary">
	<div id="top" class="row site">
	{% include menu.html %}
	<div class="sm-12 md-8 col">
	<div class="paper container">
		<h1>Join Us</h1>
		{% include img480.html baseName="teamPhotoAtEly" alt="Granta Blue Team Photo" class="float-left" %}
		<p>We are always on the look out for new dancers and musicians. Don't worry if you have never danced Cotswold before, we'll teach you everything you need to know. If you are an experienced Cotswold dancer, that's even better, as you can teach us stuff we don't know!</p>
		<p>We accept anyone of any gender, race, religion, ethnicity or disability, if you have two left feet we can use both of them.</p>
		<p class="text-danger">We are following government guidelines for meeting during the current pandemic, so please contact us to find out what we are currently doing. <a href="mailto:cumorris@googlemail.com">Email us</a> or drop us a message on <a href="https://www.facebook.com/GrantaBlueMorris/">Facebook</a></p>
		<p>Normally .... between September and May, practices are held once a week on Tuesday evenings at our new venue of North Lodge Pavillion, Milton near Cambridge between 6:30pm and 8pm.</p>
		<p>So, if you would like to join us please come along for a lot of fun, exercise, cake, dancing, big sticks and the chance to dance at festivals.</p>
	</div>
	</div>

	<div class='sm-12 md-4 col sidebar'>
    <div class='paper border border-success shadow'>
			<h2 class='margin-top-small'>Upcoming Practices</h2>
      <div id="events-upcoming">
  	    <iframe src="https://calendar.google.com/calendar/embed?wkst=1&amp;bgcolor=%234285F4&amp;ctz=Europe%2FLondon&amp;src=bmUxNmJtbHJxMzhnZWg3MGFnYWxscTVxNHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA" style="border-width:0" width="100%" frameborder="0" scrolling="no"></iframe>
      </div>
      <script src="cal.js"></script>
      <script>
      formatGoogleCalendar.init({
        calendarUrl: 'https://www.googleapis.com/calendar/v3/calendars/ne16bmlrq38geh70agallq5q4s@group.calendar.google.com/events?key=AIzaSyAkYz24zY9V2w2gS7zU4iq2JstUT9GWKqg&maxResults=10&singleEvents=true',
        upcomingSelector: 'events-upcoming'
      });
      </script>
		</div>

	</div>
</div>
</body>
</html>
